<%# here is the username %>
<% unless (@bidders.blank? && !user_signed_in?) %>
	<small>
		bidders
	</small>
	<%@bidders.each do |i| %>
		<p>
			<%= render 'shared/bidder_user_name', value: i %>
		</p>
	<% end %>
<% end %>

