<% content_for :form_errors do %>
	<p><%= puralize(object.errors.count, "error") %> 
	prevented this form from being saved:</p>
	<ul>
		<% object.errors.full_messages.each do |message|%>
			<li><%= message %></li>
		<%end%>
	</ul>
<% end %>
