<p>
<%# image_tag(product_attachment.image_url) %>
<%# product_attachment.inspect %>
<%= link_to image_tag(product_attachment.image.med.url), product_attachment_path(product_attachment), remote:true %>

</p>
<div id="product_images">
</div>
