<li>
<% if action_name == "show"%>
<%= link_to image_tag(product_attachment.image.medium.url), product_attachment_path(product_attachment), remote:true %>
<% elsif action_name == "index"%>
	<%= link_to image_tag(product_attachment.image.thumb.url), product_attachment_path(product_attachment), remote:true %>
	<% end %>
</li>

<div id="product_images">
</div>
