@font-face {
    font-family: 'Light';
    	src: font-url('OpenSans-LightItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'SemiBold';
         src: font-url('OpenSans-Semibold.ttf') format('truetype');
}
#countdown{padding:20px;
	border:none;
	font-size:.8em;
	padding:none;
	margin:none;
	color:#222;
	background:#ccc;
}
.product-index-table{
	margin-top:60px;
	width: 100%

}


body{
	background: #F5F5F5;
	font-family: Tohoma;
}

.ui-autocomplete{
	padding-top:30px;
	background:#000;
	color:#eee;
	li{
		list-style-type:none;
	}
}
.rounded {
  border-radius: 10px;
  background: #fff; // without a background or border applied you won't be able to see if its rounded
}
.product-column{
	background: #fff;
}
.product-list{
	text-align:center;
	margin-top:60px;
	.product-header{
		margin-bottom:2em;
		margin-top:2em;
	}
	li{
		list-style-type:none;
		text-align:center;
	}
}


.centered{
	text-align:center;
}	
	
	
$side-bar-color:#000;
.bid-content{
	background:$side-bar-color;
	min-height:600px;

}
.product-header{
	font-family: "SemiBold";
	font-size:1.3em;
	
}

.product-list-inner{
	li {display: inline}
	&:last-child{
		text-align:right;
	}
}

.photo-box{
	margin-top: 60px;
	background:#ccc;
}
.cell-descriptor{
	text-align:right;
}
.product-description{
	line-height:1.3em;
	background:#fff;
	padding:8px;
	font-size:1.1em;
	opacity:0.9;
	font-family: 'light';
}
.doubleUnderline {
    text-decoration:underline;
    border-bottom: 1px solid #000;
}
.search-list{
	margin-top:60px;
	text-align:left;
	li{
		list-style-type:none;
		a{
			color:#1A0DB7;
			font-size:1.6em;
			&:hover{
				background: white;
					text-decoration:underline;
			}
		}
		.back-to{
			a{
				color: #216c21;
				font-size:1em;

			}
			
		}

	}
	
}
#product_expiration{
	background:#fff;
	
}
.ui-datepicker {
   background: #ccc;
   border: 1px solid #555;
	 padding:8px;
 }
 .ui-datepicker-div{
	 color: #ddd;
	 
 }
 .product_attachment{
	 li{
		 display: inline;

	 }

 }
