@font-face {
    font-family: 'Light';
    	src: font-url('OpenSans-LightItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'SemiBold';
         src: font-url('OpenSans-Semibold.ttf') format('truetype');
}

body{
	background: #F5F5F5;
	font-family: Tohoma;
}
.rounded {
  border-radius: 10px;
  background: #fff; // without a background or border applied you won't be able to see if its rounded
}
.product-column{
	background: #fff;
}
.product-list{
	.product-header{
		margin-bottom:2em;
		margin-top:2em;
	}
	li{
		list-style-type:none;
		text-align:center;
	}
}


.centered{
	text-align:center;
}	
	
	
$side-bar-color:#000;
.bid-content{
	background:$side-bar-color;
	min-height:600px;

}
.product-header{
	font-family: "SemiBold";
	font-size:1.3em;
	
}

.product-list-inner{
	li {display: inline}
	&:last-child{
		text-align:right;
	}
}

.photo-box{
	top: 60px;
	background:#ccc;
}
.cell-descriptor{
	text-align:right;
}
.product-description{
	line-height:1.3em;
	background:#fff;
	padding:8px;
	font-size:1.1em;
	opacity:0.9;
	font-family: 'light';
}
.doubleUnderline {
    text-decoration:underline;
    border-bottom: 1px solid #000;
}
