	<% @size = "80x60" %>
	<table class="product-index-table">
		<tr>
			<td>
				<%= product.name %>
			</td>
			<td>
				<%= image_tag product.image, size: @size  %>
			</td>
			<td>
				<%= product.description %>
			</td>

		</tr>
	</table>




