<div class="col-md-4 product-column">
	<%= image_tag product.image, size: "160x100"  %>
</div>
<div class="col-md-4  product-column">
	<h3>
		Name
	</h3>
		<h4>
			<%= link_to product.name, product_path(product) %>
		</h4>
		</div>

<div class="col-md-4 product-column">
	<h3>Description</h3>

	<h5>
		<%=product.description  %> 
		<% unless product.bids.empty? %>
			<% @product = product %>
			<%= render 'shared/bid_stats' %>
		<% end %>
	</h5>
</div>
